/*Media queries*/ /*320px para pantallas chicas como celulares*/

@media screen and (min-width: 320px) {

    body {
        background-color: beige;
    }

}
img {
    max-width: 100%;
}

/*Receteo de espacios y márgenes*/

* {
    margin: 0;
    padding: 0;
}
/*Html Recomendable el equivalente*/
html {
    font-size: 62.5% ;
}

p {
    font-size: 2rem ;
}

header {
    background-color: bisque;
    padding: 1.5rem;
}
/*Estilos de mi index*/
/*Titulo*/

h1 {
    color: rgb(245, 126, 219);
    text-align: center;
}

/*Primer texto y segundo texto*/
.color-violeta {
    color: rgb(240, 163, 227);
    font-weight: bold;
}

/*Epigrafe*/
#epigrafe {
color: rgb(192, 56, 192);
line-height: 2;
text-align: center;
}
.rem {
font-size: 4rem;
}
/*CARD*/
.card {
border: dashed .2rem rgb(209, 56, 82);
padding: 1rem;
width: 30rem;

}

.caja-imagenes {
 width: 1rem;
 height: 1rem;
}

.card__parrafo {
font-size: 1.8rem;
margin-bottom: 5rem;
}

p {
    text-align: center ;
}

.boton {
    padding: 2rem;
 }

 /*Flex*/
 .seccion-flex {
    color: blueviolet;
 }

.caja-imagenes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
}
.caja-imagenes 
img {
    width: 2rem;
    height: 2rem;
}

/*Fondos de página-gradientes*/

#color-fondo-indumentaria {
    background-image: linear-gradient(to bottom, rgb(253, 250, 250), rgba(247, 228, 236, 0.863));
}
#color-tips {
    background-image: linear-gradient(to bottom,rgb(248, 222, 226), rgb(250, 203, 238));
}

.fondo-inicio {
    background-color: white;
}

/* Menú */
 .navegacion li {
    
    list-style: none;
    display: inline;
    flex-direction: row;
    margin-right: 2.5rem;
    justify-content: space-around; 
    margin-bottom: 7rem;
 }

 a {
    color: darkorchid;
 }

 /*Ancho y alto*/ /*Lograr que cada imagen tenga su tamaño*/
 
 #carouselExampleIndicators {
    width: 50%;
    margin: 0 auto;
 }

 

/*Fin de estilo*/




